<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>问答-KuangStudy</title>
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>

    <!-- Load polyfills to support older browsers -->
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
            crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@latest/dist/vue.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
    <style>
        .nav-underline .nav-link {
            padding-top: .75rem;
            padding-bottom: .75rem;
            font-size: .875rem;
            color: #6c757d;
        }
    </style>
</head>
<body style="background: #f2f2f2;">

<!-- 导航栏 -->
<div th:replace="~{common/header::header(activeUrl='blog')}"></div>
<div id="app">
    <b-container role="main" class="container mt-3 p-3 bg-white rounded">
        <b-row class="row">
            <b-col class="col-md-12 blog-main">
                <b-col class="col-md-12 order-md-1">
                    <h4 class="mb-3">编辑博客</h4>

                    <form class="needs-validation" th:action="@{/blog/editor}" method="post">
                        <!-- 隐藏域 -->


                        <div class="row">
                            <div class="col-md-10 mb-3">
                                <label for="firstName">博客标题</label>
                                <b-form-input required  v-model="formData.title" name="title" type="text"
                                              class="form-control" id="firstName"/>
                            </div>

                            <div class="col-md-2 mb-3">
                                <label for="country">标签</label>
                                <b-form-select name="categoryId" class="custom-select d-block w-100" id="country">
                                    <option th:each="category:${categoryList}"
                                            th:selected="${blog.getCategoryId() == category.getId()}"
                                            th:value="${category.getId()}" th:text="${category.getCategory()}">
                                    </option>
                                </b-form-select>
                            </div>

                            <div class="col-md-12 mb-3">
                                <p>博客详情</p>
                                <div id="blog-content">

                                </div>
                            </div>

                        </div>

                        <button class="btn btn-primary btn-lg btn-block" type="submit">提交修改</button>
                    </form>
                </b-col>
            </b-col>
        </b-row>
    </b-container>
</div>
<div th:replace="~{common/footer::footer}"></div>

<a class="to-top">返回顶部</a>
<script th:src="@{/js/jquery-3.5.1.min.js}"></script>

<script th:src="@{/js/toTop.js}"></script>
<script
        type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/wangeditor@latest/dist/wangEditor.min.js"
></script>
<script type="text/javascript">

    new Vue({
        data() {
            return {
                formData: {
                    bid: "[[${blog.getBid()}]]",
                    title: "[[${blog.getTitle()}]]",
                    categoryId:"[[${blog.getCategoryId()}]]",
                    content:"[[${blog.getContent()}]]",
                },
                categoryList: [],
                options:[[${categoryList}]]
            }
        }, created() {

        }
    }).$mount("#app")


    const E = window.wangEditor
    const editor = new E("#blog-content")
    // 或者 const editor = new E(document.getElementById('div1'))
    editor.create()


    // imageUploadURL : "/question/write/file/upload",

</script>

</body>
</html>